.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    z-index: -2;
}
.card{
    margin: 10px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
}
.card img{
    width: 13rem;
    margin-bottom: 1rem;
}

.card-reviews{
    display: flex;
    
}
.card-title{
    margin-bottom: 1rem;
}
.reviews{
    color: #b5ab55;
    margin-bottom: 1rem;
    margin-right: 2px

}
.card-price{
    display: flex;
    justify-content: space-between;
}